<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ürün detay sayfası</p>
    Ürün Adı: {{ product_detail.name }} <br><br>
    Ürün Açıklaması: {{ product_detail.content }} <br><br>
    Ürün Fiyatı: {{ product_detail.price }} <br><br>
    Ürün Adedi: {{ product_detail.stock_count }} <br><br>
</body>
</html>