<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Ürün listeleme sayfası</p>
    <table>
        {% for product in products  %}
            <tr>
                <td>Ürün Adı:</td><td>{{ product.name|upper }}</td>
                <td>Ürünün içeriği:</td><td>{{ product.content }}</td>
            </tr>
        {% endfor %}
    </table>
</html>